* {
    font-family: "Fira Code","Noto Sans";
    font-size: 16px;
}

window#waybar {
    background: transparent;
}

#window, #custom-wlr_mode, #custom-internet{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 20px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: transparent;
    color: #c6d0f5;
}
#workspaces{
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: transparent;
    margin-right: 8px;
    border: 2px solid #414559;
    box-shadow: #414559 0px 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    transition: 0.3s all ease;
    color: #414559;
}

#workspaces button:hover{
    border: 2px solid #414559;
    box-shadow: #414559 0px 5px 0px 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    transition: 0.1s all ease;
    color: #414559;
}

#workspaces button.active{
    border: 2px solid #c6d0f5;
    box-shadow: #c6d0f5 0px 5px 0px 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    transition: 0.1s all ease;
    color: #c6d0f5;
}
#workspaces button.active:hover{
    margin-top: 5px;
    margin-bottom: 0px;
    box-shadow: #c6d0f5 0px 0px 0px 0px;
    transition: 0.1s all ease;
}

@keyframes click {
	0% {
		box-shadow: #c6d0f5 0px 5px 0px 0px;
        margin-top: 17px;
        margin-bottom: 17px;
	}
	100% {
        border: #c6d0f5 2px solid;
		box-shadow: #c6d0f5 0px 0px 0px 0px;
        margin-top: 22px;
        margin-bottom: 12px;
	}
}

#custom-switch{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;

    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: transparent;
    
    color: #c6d0f5;
}

#custom-switch {
    border: 2px solid #c6d0f5;
    box-shadow: #c6d0f5 0px 5px 0px 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: 0.1s all ease;
}

#custom-switch:hover {
    border: 2px solid #c6d0f5;
    box-shadow: #c6d0f5 0px 0px 0px 0px;
    margin-top: 21px;
    margin-bottom: 11px;
    transition: 0.1s all ease;
}

#custom-switch.on{
    border: 2px solid #414559;
    box-shadow: #414559 0px 0px 0px 0px;
    margin-top: 21px;
    margin-bottom: 11px;
    transition: 0.1s all ease;
    color: #414559;
}

#custom-switch.on:hover{
    border: 2px solid #414559;
    box-shadow: #414559 0px 5px 0px 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: 0.1s all ease;
    color: #414559;
}

#clock {
    padding-top: 12px;
    margin-right: 20px;

    background: transparent;
    color: #c6d0f5;
}

#custom-info_pill {
    padding-top: 12px;
    color: #c6d0f5;
    font-weight: 500;
}


.clock {
    /* Variables */
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: 0.75em;
   background: #000000;
  }
  
.clock {
   border: 2px solid #000000;
   border-radius: 0.75em;
   padding: 0.75em 1.5em;
   background: #e8e8e8;
   color: #000000;
  }
